__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
dist/
build/
*.egg-info/

# Ignore generated models
models/*
!models/.gitkeep
# Ignore generated artifacts
artifacts/*
!artifacts/.gitkeep
# Ignore MLflow experiment runs
mlflow/*
!mlflow/.gitkeep

airflow/logs/
airflow/*.db
.vscode/